/* ------------------------------------------ Bootstrap Overrides */

.d-none {
    display: none;
}

/* ------------------------------------------ Colours */

body {
    background-color: lightgrey;
}

.header-container {
    background-color: white;
}

.fa-solid.fa-bars {
    color: black;
}

.close-menu-btn {
    color: black;
}

/* ------------------------------------------ Fonts */

p {
    font-family: 'Work Sans', sans-serif;
}

.header-col.nav-menu span {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.header-col.nav-menu span.nav-btn:hover {
    font-weight: 600;
}

/* ------------------------------------------ Spacing */

header {
    margin: 50px;
    border-radius: 20px;
}

.header-container {
    border-radius: 20px;
    min-height: 150px;
    max-width: 1400px;
    margin: 0;
    padding: 0;
    align-self: center;
}

.nav-row {
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100px;
}

.header-col {
    padding: 0;
    margin: 0;
}

.nav-menu {
    margin-left: 20px;
    margin-right: 20px;
}

.nav-menu span {
    padding: 10px;
}

.header-logo {
    padding: 10px;
}

.header-icon {
    padding: 10px;
    margin: 0px;
}

.header-col.social-menu,
.reveal-menu-btn-container {
    font-size: 40px;
}

.reveal-menu-btn-container {
    margin: 0px;
}

input#nav-menu-hidden-check {
    display: none;
}

span#content {
    display: none;
}

.menu-toggle {
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 10px;
}

@media only screen and (max-width: 576px) {

    .close-menu-btn {
        transform: rotate(-180deg);
        opacity: 0;
        transition: 0.5s;
        position: absolute;
        top: 0;
        left: 5px;
    }

    input#nav-menu-hidden-check:checked~div .close-menu-btn {
        transform: rotate(180deg);
        opacity: 100;
        transition: 0.5s;
        position: absolute;
        top: 0;
        left: 5px;
    }

    .reveal-menu-btn {
        transform: rotate(-180deg);
        opacity: 100;
        transition: 0.5s;
        position: absolute;
        top: 0;
        left: 2px;
    }

    input#nav-menu-hidden-check:checked~div .reveal-menu-btn {
        transform: rotate(180deg);
        opacity: 0;
        transition: 0.5s;
        position: absolute;
        top: 0;
        left: 2px;
    }

    input#nav-menu-hidden-check:checked~div .nav-menu,
    input#nav-menu-hidden-check:checked~div .social-menu {
        display: flex !important;
        align-items: center;
        justify-items: center;
        width: auto;
    }

    input#nav-menu-hidden-check:checked~div .nav-menu {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    input#nav-menu-hidden-check:checked~div .nav-menu span {
        padding: 0px;
    }

    input#nav-menu-hidden-check:checked~.nav-row {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        width: auto;
    }
}